.namecandidate-name-dr-dhruvang-mehta-score-1000-1 {
  height: 138px;
  position: relative;
  width: 501px;
}

.namecandidate-name-dr-dhruvang-mehta-score-1000-1 .line-2 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
