.CTA-book-button {
  background-color: #c20a0a;
  border-radius: 15px;
  height: 75px;
  position: relative;
  width: 512px;
}

.CTA-book-button .text-wrapper {
  color: #ffffff;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0.42px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 428px;
}
