.namecandidate-name-component-score-1000-1 {
  position: relative;
}

.namecandidate-name-component-score-1000-1 .component-instance {
  width: 399.57px !important;
}

.namecandidate-name-component-score-1000-1 .component-30-instance {
  background-color: #5ab8c2 !important;
}

.namecandidate-name-component-score-1000-1 .lorem-ipsum-dolor {
  color: transparent;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 253px;
  left: 36px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 87px;
  width: 328px;
}

.namecandidate-name-component-score-1000-1 .text-wrapper-35 {
  color: #b4b4b4;
  font-family: "Satoshi Variable-MediumItalic", Helvetica;
  font-style: italic;
  font-weight: 500;
}

.namecandidate-name-component-score-1000-1 .text-wrapper-36 {
  color: #b4b4b4;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
}

.namecandidate-name-component-score-1000-1 .text-wrapper-37 {
  color: #0a626b;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
}

.namecandidate-name-component-score-1000-1 .text-wrapper-38 {
  color: #0a626b59;
  font-family: "Satoshi Variable-MediumItalic", Helvetica;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
}

.namecandidate-name-component-score-1000-1.property-1-6-default {
  align-items: flex-start;
  display: inline-flex;
}

.namecandidate-name-component-score-1000-1.property-1-6-variant-3 {
  border-radius: 15.33px;
  height: 464px;
  width: 400px;
}
