.CTA-button-alert {
  height: 32px;
  width: 206px;
}

.CTA-button-alert .class-17 {
  width: unset !important;
}

.CTA-button-alert .class-18 {
  background-color: #ff9900 !important;
  width: unset !important;
}
