.namecandidate-name-property-default-score-1000-2 {
  background-color: #cef6f8;
  border-radius: 5px;
  height: 246px;
  position: relative;
  width: 248px;
}

.namecandidate-name-property-default-score-1000-2 .text-wrapper-52 {
  color: #000000;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 2px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 102px;
  width: 244px;
}

.namecandidate-name-property-default-score-1000-2 .ellipse-8 {
  background-color: #ffffff;
  border: 5px solid;
  border-color: #cef6f8;
  border-radius: 14px;
  height: 28px;
  left: 110px;
  position: absolute;
  top: -14px;
  width: 28px;
}
