.dr-chetan-prajapati {
  height: 138px;
  position: relative;
  width: 369px;
}

.dr-chetan-prajapati .p {
  color: transparent;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 23px;
}

.dr-chetan-prajapati .text-wrapper-19 {
  color: #000000;
  font-weight: 700;
}

.dr-chetan-prajapati .text-wrapper-20 {
  color: #000000;
  font-family: "Sarina", Helvetica;
  font-size: 24px;
}

.dr-chetan-prajapati .text-wrapper-21 {
  color: #b4b4b4;
  font-size: 24px;
  font-weight: 700;
}

.dr-chetan-prajapati .line-5 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
