.map-fill {
  height: 24px;
  width: 24px;
}

.map-fill .ellipse-wrapper {
  background-image: url(https://c.animaapp.com/Pc6Y5XOd/img/subtract-4.svg);
  background-size: 100% 100%;
  height: 24px;
}

.map-fill .ellipse-9 {
  background-color: var(--fillicon);
  border-radius: 2px;
  height: 4px;
  left: 6px;
  position: relative;
  top: 14px;
  width: 4px;
}
