.contact {
  height: 32px;
  position: relative;
  width: 92px;
}

.contact .text-wrapper-47 {
  color: #000000;
  font-family: "Satoshi Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 92px;
}

.contact:hover .text-wrapper-47 {
  color: #ffc04c;
}
